                                            /* CSS for hele nettside */

*{
    margin:0;
    padding: 0;
    font-family: serif, Arial, Helvetica;
  }

#grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "header"
      "intro "
      "fun";
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(Bilder/home-page-background.jpg);
    background-attachment: fixed;
    background-position: center;
}

                                                    /* CSS for header */

.header {
    grid-area: header;
    background-position: center;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas:
      "logo meny";
    
}

.logo {
    grid-area: logo;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-areas:
      "bilde knapp";
}

#logo-bilde{
    grid-area: bilde;
}

#meny-knapp{
    width: 50px;
    height: 50px;
    grid-area: knapp;
    display: none;
    margin: 25% 0 50% 0;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
}
#meny-x{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    position: absolute;
    top: 4%;
    left: 77.5%;
    font-size: 35px;
    color: white;
    display: none
}


#meny {
    width: 100%;
    margin-top: 4.5vw;
    grid-area: meny;
}

#meny ul{
    width: 80%;
    list-style-type: none; 
    text-align: right;
}
  
     
#meny ul li{
    display: inline-block;
    margin-top: 25px;
    padding: 5px;

    
}

#meny ul li a{
    text-decoration: none;
     color: white;
     padding: 5px 15px;
     text-transform: uppercase;
     font-family: 'Staatliches', cursive, sans-serif;
     letter-spacing: 2.5px;
}

                                            /* CSS for hovedside*/

.intro-tekst {
    text-transform: uppercase;
    grid-area: intro;
    margin: 15% 0 25% 0;
}

.intro-tekst h1 {
    color: white;
    text-align: center;
}


.fun-fact-tekst {
    width: 100%;
    background-color: white;
    text-align: center;
    grid-area: fun;
}
.fun-fact-tekst h1{
    padding: 50px;
    font-size: 2vw;
    text-transform: uppercase;
}
.fun-fact-tekst p{
    padding: 25px 50px 50px 50px;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 3vw;
}


#bilde-2 {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Bilder/la-header-pic.jpeg);
    background-size: cover;
    grid-area: bilde;
    text-align: center;
    background-attachment: fixed;
    color: white;
    background-position: center;
}

#bilde-2 h1 {
    padding: 50px;
    padding-top: 200px;

}
#bilde-2 p {
    padding: 50px;
    padding-bottom: 300px;
}


#bilde-3 {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Bilder/Los-Angeles-Hotel-Background.jpg);
    background-size: cover;
    grid-area: bilde;
    text-align: center;
    background-attachment: fixed;
    color: white;
    background-position: center;
}

#bilde-3 h1 {
    padding: 50px;
    padding-top: 200px;

}
#bilde-3 p {
    padding: 50px;
    padding-bottom: 300px;
}

                                            /* CSS for footer*/

*,*:before,*:after {
    box-sizing: border-box;
}

footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: #011c39;
}

.footer {
    flex: 1 100%;
}

#flex-left {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

#flex-left img{
    width: 50%;
}

footer h2 {
    font-weight: 600;
    font-size: 17px;
}

#footer ul {
    list-style: none;
    
}

#footer li {
    line-height: 2em;
}

#footer a {
    text-decoration: none;
}

#footer-right {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}

#footer-right > *{
    flex: 1 50%;
    margin-right: 1.25em;
}

#box a {
    color: #999999;
}

.footer-bottom {
    text-align: center;
    color: #999999;
    padding-top: 50px;
}

#footer-left p{
    padding-right: 20%;
    color: #999999;
}

                                    /* CSS for å gjøre nettside responsive */

@media screen and (min-width: 600px){
    #footer-right > *{
        flex: 1;
    }
    #footer-left{
        flex: 1 0px;
    }
    #footer-right{
        flex: 2 0px;
    }
    
}



@media only screen and (max-width: 1200px){
    .grid-container {
        grid-template-areas:
        'header'
        'into'
        'fun'
        "bilde";
    }
    .header {
        background-position: center;
        display: grid;
        grid-template-areas:
          'logo'
          'meny';
        grid-template-columns: 2fr;
    }
    #meny{
        margin-top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        float: none;
        display: none;
        background-color: black;
        position: fixed;
    }

    #meny-knapp{
        grid-area: knapp;
        display: grid;
    }

    #meny ul li{
        display: block;
        margin-top: 25px;
        padding: 5px;
    }

    #meny ul{
        text-align: left;
    }

    .fun-fact-tekst h1{
        font-size: 20px;
        padding: 50px 20px 25px 20px;
    }
    .fun-fact-tekst p{
        padding: 50px;
        font-size: 10px;
        text-transform: uppercase;
        line-height: 15px;
    }

}

